* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.input-syle:focus{border: none; border-bottom: 2 px solid blue; outline: none;}
.input-group-text{font-size: 20px; color:blue; background: none; outline: none; border-bottom: 2px solid orange;}
.input-group-text:hover{ cursor: pointer; background-color: rgb(8, 71, 13);  color: white; transition:.5s ; -webkit-transition:.5s ; -moz-transition:.5s ; -ms-transition:.5s ; -o-transition:.5s ; }